<h1>Listing posts</h1>

<table id="posts">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Publication</th>
    <th>Enabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>  
  <%= render post%>
<% end %>
</table>
<br />
<%= link_to 'New', '/posts/new', :remote => true %>
<div id="show">  
</div>

<br />

<div id="form">
</div>
