<h1>Listing posts</h1>

<table id="posts">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Publication</th>
    <th>Enabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>  
  <%= render post%>
<% end %>
</table>
<br />
<div id="show">  
</div>

<br />

<div id="form">
  <h2>Post form</h2>
<%= render 'form' %>
</div>
